


@mixin animateProperty(
	$name:none,
	$duration:0,
	$timing:ease,
	$delay:0,
	$iteration:1,
	$derection:normal
	){
	-webkit-animation:$name $duration $timing $delay $iteration $derection;
	-moz-animation:$name $duration $timing $delay $iteration $derection;
	-o-animation:$name $duration $timing $delay $iteration $derection;
	-ms-animation:$name $duration $timing $delay $iteration $derection;
	animation:$name $duration $timing $delay $iteration $derection;
}