

/*
to start COMPILE
"compass watch css"
@ HanselMock/
 */

@charset "utf-8";
@import "compass";



$body_backgroundUrl:"../../img/woodtable2.jpg";
$backGroundImage_Size:cover;

//titleRow
$title_margin:40px;

//本の大きさによって調節するパラメータ
$book_MarginTop:0px;
$book_MarginLeft:0%;
$book_width: 893px;//1786px/2;
$book_height : 611.5px;//1223px/2;
	$pageBox_top : 17px;//34px/2;
	$pageBox_left : 33px;//66px/2;
	$pageBox_width : 829px;//1658px/2;
	$pageBox_height :578px; //1156px/2;



body{
	background:url($body_backgroundUrl) repeat;
	background-size: $backGroundImage_Size;
}

#titleRow{
	margin-top:$title_margin;
	margin-left:$title_margin;
}
#subtitleRow{
	margin-left:$title_margin;
	margin-bottom:$title_margin;
}

#book{
	//margin-left:$book_MarginLeft;
	//margin-top:$book_MarginTop;
	#bookImg{
		position: absolute;
		height: $book_height;
		width: $book_width;
	}
	#pagesBox{
		position: absolute;
		top: $pageBox_top;
		left: $pageBox_left;
		width: $pageBox_width;
		height: $pageBox_height;

		.page{
			.pageBgImg{
				height:$pageBox_height;
				width:$pageBox_width/2;
			}
			.pageContent{
				position:absolute;
				top:0;
				left:0;
				height:$pageBox_height;
				width:$pageBox_width/2;
				overflow:hidden;
				#welcomeToHanselImg {
					margin: 166px 45px;
					height: auto;
					width: 336px;
					opacity: 0.8;
				}
				#hanselMockTutrialInfo{
					margin: 177px 27px 10px;
					font-size: 22px;
					line-height: 24px;
					font-weight: bolder;
					color: rgb(66, 66, 66);
					opacity:0;
					@include transition(3s);
				}
			}
		}

		//右ページ
		.turn-page-wrapper:nth-child(odd){
			.page{
				@include border-radius( 0 15px 15px 0 );
				.pageBgImg{@include border-radius( 0 15px 15px 0 );}
				.pageContent{}
			}
		}
		//左ページ
		.turn-page-wrapper:nth-child(even){
			.page{
				@include border-radius( 15px 0 0 15px );
				.pageBgImg{@include border-radius( 15px 0 0 15px );}
				.pageContent{}
			}
		}
	}
}
