@charset "utf-8";
/*
COMPILE "compass watch css" at HanselMock/
 */
/* line 27, ../sass/index.scss */
body {
  background: url("../../images/woodtable.jpg") no-repeat;
  background-size: 4800px;
}

/* line 32, ../sass/index.scss */
#book {
  margin-left: 20%;
  margin-top: 10px;
}
/* line 35, ../sass/index.scss */
#book #bookImg {
  position: absolute;
  height: 1223px;
  width: 1786px;
}
/* line 40, ../sass/index.scss */
#book #pagesBox {
  position: absolute;
  top: 34px;
  left: 66px;
  width: 1658px;
  height: 1156px;
}
/* line 48, ../sass/index.scss */
#book #pagesBox .page .pageContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 1156px;
  width: 829px;
  overflow: hidden;
}
/* line 60, ../sass/index.scss */
#book #pagesBox .turn-page-wrapper:nth-child(odd) .page {
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
}
/* line 62, ../sass/index.scss */
#book #pagesBox .turn-page-wrapper:nth-child(odd) .page .pageBgImg {
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
}
/* line 68, ../sass/index.scss */
#book #pagesBox .turn-page-wrapper:nth-child(even) .page {
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
}
/* line 70, ../sass/index.scss */
#book #pagesBox .turn-page-wrapper:nth-child(even) .page .pageBgImg {
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
}
