@charset "utf-8";
/* line 16, ../sass/index.scss */
body {
  background: url("../../images/woodtable.jpg") no-repeat;
  background-size: 4100px;
}

/* line 21, ../sass/index.scss */
#book {
  margin-left: 20%;
  margin-top: 3%;
}
/* line 24, ../sass/index.scss */
#book #bookImg {
  position: absolute;
  height: 1000px;
  width: auto;
}
/* line 29, ../sass/index.scss */
#book #pagesBox {
  position: absolute;
  top: 32px;
  left: 56px;
  width: 1222px;
  height: 935px;
}
/* line 35, ../sass/index.scss */
#book #pagesBox .turn-page-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 37, ../sass/index.scss */
#book #pagesBox .turn-page-wrapper .page {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
